// fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// colors
$theme: #013263;
$secendary: #1b998b;
$black: #000;
$white: #fff;
$red: red;
$grey: #807b7b;
$border: #5e5e5e49;
